.imageStyle {
    max-width: 40%;
    margin: auto;
    height: 250px;
    display: grid;
    grid-template-columns: 60px 1fr;
}
.imageStyleb {
    max-width: 40%;
    margin: auto;
    display: grid;
    grid-template-columns: 60px 1fr;
}

.grid-item2 {
    background: pink;
    color: white;
    padding: 10px;
    display:grid;
    grid-template-columns: 60px 1fr;
}

.grid-item2b {
    padding: 10px;
    border:1px solid #d3d3d3;
}

.imageSquare {
    width:50px;
    height: auto;
}

.textDiv {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 35px;
}

